main .titles-wrapper {
  position: absolute;
  top: 180px;
}

.titles {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titles > div:nth-child(1) {
  font-weight: bold;
  font-family: var(--body-font-family);
  width: 41%;
  margin-right: 100px;
}
.titles > div > div:first-child {
  font-size: 21px;
}
.titles > div:nth-child(1) > div:nth-child(2) {
  font-size: 40px;
  color: var(--dark-color);
}

.titles > div:nth-child(1) > div:nth-child(3) {
  margin: 21px 0;
  font-size: 36px;
}

.titles > div:nth-child(1) > div:nth-child(4) {
  font-size: 30px;
  color: var(--dark-color);
  font-weight: 400;
}

@media (width <= 900px) {
  .titles{
    flex-direction: column;
  }
  .titles > div:nth-child(1){
    width: 80%;
  }
  main .titles-wrapper {
    top: 100px;
  }
}
.titles > div:nth-child(2) > div > picture > img{
  cursor: pointer;
}