 main > .headerimage-container{
  padding: 0 ;
  margin: 0;
}
main .headerimage-wrapper{
  margin: 0;
  padding: 0;
}
main .headerimage > div > div > picture{
  
  position: relative;
}
main .headerimage > div > div > picture > img {
  object-fit: cover;
  position: absolute;

}